.container {
    max-width: 980px;
    text-align: center;
    margin: 20px auto;
}
#box_form {
    margin: 40px auto 60px;
}

h1 {
    margin-bottom: 20px;
}

.glyphicon {
    font-size: 18px;
    z-index: 20;
    cursor: pointer;
}

.glyphicon-hand-down{
    position: relative;
    right: 30px;
}

.input-group {
    margin-left: 4%;
}

.glyphicon-list-alt{
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -9px;
}

.glyphicon-trash{
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
}

span.createdAt {
    margin-top: 10px;
    font-size: 50%;
    display: block;
    color: #969FA8;
    z-index: -1;
}

.list-group {
    padding: 0 15px;
    margin-top: 20px;
}

.list-group-item {
    position: relative;
    padding: 10px 20px;
}
